<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>API定義</title>
  </head>
  <body style="margin: 0px">
  <%_books.map((book) => {-%>
    <div>
      <h2><%=book.name%></h2>
    <%_book.sheets.map((sheet) => {-%>
      <h4><%=sheet.name%></h4>
      <table>
        <thead>
          <%_//<tr><td>ヘッダ</td></tr>-%>
        </thead>
        <tbody>
        <%_sheet.rows.map((row) => {-%>
          <tr>
          <%_row.cells.map((cell) => {-%>
            <td><%_if (typeof(cell) === 'string') {
%><%-cell.replace(/\r\n/g, '<br />')%><%
} else if (cell.richText) {-%><%-cell.richText.map((v) => {
  const value = Immutable.fromJS(v)
  const bold = value.getIn(['font', 'bold']) ? 'font-weight: bold;' : ''
  const strike = value.getIn(['font', 'strike']) ? 'text-decoration: line-through;' : ''
  const italic = value.getIn(['font', 'italic']) ? 'font-style: italic;' : ''
  const underline = value.getIn(['font', 'underline']) ? 'text-decoration: underline;' : ''
  const color = value.getIn(['font', 'color', 'argb'])
  return `<span style='${bold}${strike}${italic}${underline}${color ? `color: #${color.substring(2)};` : ''}'>${v.text.replace(/\r\n/g, '<br/>')}</span>`
}).join('')%><%} else if (cell.formula) {%><%-cell.result%><%}%></td>
          <%_})-%>
          </tr>
        <%_})-%>
        </tbody>
      </table>
    <%_})-%>
    </div>
  <%_})-%>
  </body>
</html>
